*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background-color: brown;
    box-shadow: 0px 0px 12px black;
}
header button{
    color: white;
    width: 140px;
    padding: 10px;
    padding-top: 20px;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 0px 8px whitesmoke;
}
header button:hover{
    color: blue;
    box-shadow: 0px 0px 15px silver;
     transition-duration: .5s;
     cursor: pointer;
}
header img{
    width: 70px;
    float: left;
    margin: 5px;
    margin-left: 10px;
}
.s1{
    width: 100%;
    height: 600px;
    background-image: url(./IMG_3512.webp);
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s1 h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: right;
    top: 50px;
}
.s2{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.contener{
    width: 70%;
    height: 80%;
    text-align: center;
}
.img{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.img>div{
width: 23%;
height: 200px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.img>div>img{
width: 100%;
height: 100%;
position: absolute;
}
.img>div a{
width: 23%;
height: 200px;
display: flex;
}
.f{
    padding: 25px;
    width: 500px;
    height: 100px;
border-radius: 10px;
 box-shadow: 1px 1px 30px black;
  border: 0.1px solid black;
  background-color: coral;
}
footer{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



